.tools__button {
  width: 15px;
  height: 15px;
  margin-left: 15px;
}

.tools__button--info {
  background: url('../img/icon-info.png') left top no-repeat;
}

.tools__button--settings {
  background: url('../img/icon-settings.png') left top no-repeat;
}
